{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "settings": {
    "import/resolver": "webpack"
  },
  "plugins": [
    "filenames"
  ],
  "env": {
    "browser": true,
  },
  "ecmaFeatures": {
    "destructuring": true,
    "restParams": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "linebreak-style": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "prefer-arrow-callback": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-unused-vars": [1, { "args": "after-used" }],
    "no-underscore-dangle": [0],
    "prefer-const": 0,
    "func-names": 1,
    "no-use-before-define": [2, "nofunc"],
    "arrow-body-style": 0,
    "no-nested-ternary": 0,
    "object-curly-spacing": [1, "always"],
    "prefer-template": 0,
    "spaced-comment": 0
  }
}
