@import '~style/mixins.scss';

.GamePad {
  position: relative;;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-flow: wrap;


  width: 100%;
  height: 100%;

  background: #339999;
  box-sizing: border-box;

  @include font-line-size(0, 0);

  @include from-large {
    width: 600px;
    height: 600px;
  }
}

.GamePadCell {
  position: relative;

  display: block;
  width: 120px;
  height: 120px;

  margin: 0;
  padding: 0;

  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  background: blue;
  @include font-line-size(0, 0);

  &:nth-child(5n){
    border-right: none;
  }

  &:nth-last-child(-n+5){
    border-bottom: none;
  }
}

.creature {
  position: absolute;
  z-index: 3;
}
